In [27]:
import pandas as pd
import numpy as np
import time
from IPython.display import display, HTML

In [28]:
df = pd.read_csv('AAPL.csv')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-06-10,47.952499,48.842499,47.904999,48.145000,47.119289,104883600
1,2019-06-11,48.715000,49.000000,48.400002,48.702499,47.664913,107731600
2,2019-06-12,48.487499,48.992500,48.347500,48.547501,47.513214,73012800
3,2019-06-13,48.674999,49.197498,48.400002,48.537498,47.503426,86698400
4,2019-06-14,47.887501,48.397499,47.575001,48.185001,47.158440,75046000

In [29]:
df.columns = ['date', 'open', 'high', 'low', 'close', 'adjclose', 'volume']
df.head()

,date,open,high,low,close,adjclose,volume
0,2019-06-10,47.952499,48.842499,47.904999,48.145000,47.119289,104883600
1,2019-06-11,48.715000,49.000000,48.400002,48.702499,47.664913,107731600
2,2019-06-12,48.487499,48.992500,48.347500,48.547501,47.513214,73012800
3,2019-06-13,48.674999,49.197498,48.400002,48.537498,47.503426,86698400
4,2019-06-14,47.887501,48.397499,47.575001,48.185001,47.158440,75046000

In [30]:
pos = df[df['close'] > 48 ]
#display(HTML(pos.to_html()))
display(pos)

,date,open,high,low,close,adjclose,volume
0,2019-06-10,47.952499,48.842499,47.904999,48.145000,47.119289,104883600
1,2019-06-11,48.715000,49.000000,48.400002,48.702499,47.664913,107731600
2,2019-06-12,48.487499,48.992500,48.347500,48.547501,47.513214,73012800
3,2019-06-13,48.674999,49.197498,48.400002,48.537498,47.503426,86698400
4,2019-06-14,47.887501,48.397499,47.575001,48.185001,47.158440,75046000
...,...,...,...,...,...,...,...
247,2020-06-02,80.187500,80.860001,79.732498,80.834999,80.057014,87642800
248,2020-06-03,81.165001,81.550003,80.574997,81.279999,80.497726,104491200
249,2020-06-04,81.097504,81.404999,80.195000,80.580002,79.804466,87560400
250,2020-06-05,80.837502,82.937500,80.807503,82.875000,82.077377,137250400
251,2020-06-08,82.562500,83.400002,81.830002,83.364998,82.562653,95654400

In [31]:
df['change'] = df['close'] - df['open']
df['ind'] = (df['high']/df['open']) -1
df.head()

,date,open,high,low,close,adjclose,volume,change,ind
0,2019-06-10,47.952499,48.842499,47.904999,48.145000,47.119289,104883600,0.192501,0.018560
1,2019-06-11,48.715000,49.000000,48.400002,48.702499,47.664913,107731600,-0.012501,0.005850
2,2019-06-12,48.487499,48.992500,48.347500,48.547501,47.513214,73012800,0.060002,0.010415
3,2019-06-13,48.674999,49.197498,48.400002,48.537498,47.503426,86698400,-0.137501,0.010734
4,2019-06-14,47.887501,48.397499,47.575001,48.185001,47.158440,75046000,0.297500,0.010650

In [32]:
tlen = len(df)
w = np.linspace(-6,6,len(df))
display(w)
alpha = 1/(1+np.exp(-w))
display(alpha)

array([-6.        , -5.95219124, -5.90438247, -5.85657371, -5.80876494,
       -5.76095618, -5.71314741, -5.66533865, -5.61752988, -5.56972112,
       -5.52191235, -5.47410359, -5.42629482, -5.37848606, -5.33067729,
       -5.28286853, -5.23505976, -5.187251  , -5.13944223, -5.09163347,
       -5.0438247 , -4.99601594, -4.94820717, -4.90039841, -4.85258964,
       -4.80478088, -4.75697211, -4.70916335, -4.66135458, -4.61354582,
       -4.56573705, -4.51792829, -4.47011952, -4.42231076, -4.37450199,
       -4.32669323, -4.27888446, -4.2310757 , -4.18326693, -4.13545817,
       -4.0876494 , -4.03984064, -3.99203187, -3.94422311, -3.89641434,
       -3.84860558, -3.80079681, -3.75298805, -3.70517928, -3.65737052,
       -3.60956175, -3.56175299, -3.51394422, -3.46613546, -3.41832669,
       -3.37051793, -3.32270916, -3.2749004 , -3.22709163, -3.17928287,
       -3.1314741 , -3.08366534, -3.03585657, -2.98804781, -2.94023904,
       -2.89243028, -2.84462151, -2.79681275, -2.74900398, -2.70119522,
       -2.65338645, -2.60557769, -2.55776892, -2.50996016, -2.46215139,
       -2.41434263, -2.36653386, -2.3187251 , -2.27091633, -2.22310757,
       -2.1752988 , -2.12749004, -2.07968127, -2.03187251, -1.98406375,
       -1.93625498, -1.88844622, -1.84063745, -1.79282869, -1.74501992,
       -1.69721116, -1.64940239, -1.60159363, -1.55378486, -1.5059761 ,
       -1.45816733, -1.41035857, -1.3625498 , -1.31474104, -1.26693227,
       -1.21912351, -1.17131474, -1.12350598, -1.07569721, -1.02788845,
       -0.98007968, -0.93227092, -0.88446215, -0.83665339, -0.78884462,
       -0.74103586, -0.69322709, -0.64541833, -0.59760956, -0.5498008 ,
       -0.50199203, -0.45418327, -0.4063745 , -0.35856574, -0.31075697,
       -0.26294821, -0.21513944, -0.16733068, -0.11952191, -0.07171315,
       -0.02390438,  0.02390438,  0.07171315,  0.11952191,  0.16733068,
        0.21513944,  0.26294821,  0.31075697,  0.35856574,  0.4063745 ,
        0.45418327,  0.50199203,  0.5498008 ,  0.59760956,  0.64541833,
        0.69322709,  0.74103586,  0.78884462,  0.83665339,  0.88446215,
        0.93227092,  0.98007968,  1.02788845,  1.07569721,  1.12350598,
        1.17131474,  1.21912351,  1.26693227,  1.31474104,  1.3625498 ,
        1.41035857,  1.45816733,  1.5059761 ,  1.55378486,  1.60159363,
        1.64940239,  1.69721116,  1.74501992,  1.79282869,  1.84063745,
        1.88844622,  1.93625498,  1.98406375,  2.03187251,  2.07968127,
        2.12749004,  2.1752988 ,  2.22310757,  2.27091633,  2.3187251 ,
        2.36653386,  2.41434263,  2.46215139,  2.50996016,  2.55776892,
        2.60557769,  2.65338645,  2.70119522,  2.74900398,  2.79681275,
        2.84462151,  2.89243028,  2.94023904,  2.98804781,  3.03585657,
        3.08366534,  3.1314741 ,  3.17928287,  3.22709163,  3.2749004 ,
        3.32270916,  3.37051793,  3.41832669,  3.46613546,  3.51394422,
        3.56175299,  3.60956175,  3.65737052,  3.70517928,  3.75298805,
        3.80079681,  3.84860558,  3.89641434,  3.94422311,  3.99203187,
        4.03984064,  4.0876494 ,  4.13545817,  4.18326693,  4.2310757 ,
        4.27888446,  4.32669323,  4.37450199,  4.42231076,  4.47011952,
        4.51792829,  4.56573705,  4.61354582,  4.66135458,  4.70916335,
        4.75697211,  4.80478088,  4.85258964,  4.90039841,  4.94820717,
        4.99601594,  5.0438247 ,  5.09163347,  5.13944223,  5.187251  ,
        5.23505976,  5.28286853,  5.33067729,  5.37848606,  5.42629482,
        5.47410359,  5.52191235,  5.56972112,  5.61752988,  5.66533865,
        5.71314741,  5.76095618,  5.80876494,  5.85657371,  5.90438247,
        5.95219124,  6.        ])

array([0.00247262, 0.00259339, 0.00272005, 0.00285287, 0.00299215,
       0.00313822, 0.00329139, 0.00345202, 0.00362045, 0.00379707,
       0.00398227, 0.00417647, 0.0043801 , 0.0045936 , 0.00481747,
       0.00505219, 0.00529828, 0.0055563 , 0.00582681, 0.0061104 ,
       0.00640771, 0.00671939, 0.00704612, 0.00738862, 0.00774764,
       0.00812396, 0.0085184 , 0.00893182, 0.00936511, 0.00981922,
       0.01029512, 0.01079383, 0.01131642, 0.01186401, 0.01243777,
       0.0130389 , 0.01366869, 0.01432846, 0.01501958, 0.01574351,
       0.01650175, 0.01729587, 0.01812749, 0.01899833, 0.01991016,
       0.02086481, 0.02186422, 0.02291039, 0.02400538, 0.02515135,
       0.02635056, 0.02760533, 0.02891807, 0.03029129, 0.03172759,
       0.03322967, 0.0348003 , 0.03644236, 0.03815885, 0.03995283,
       0.04182749, 0.04378609, 0.04583203, 0.04796876, 0.05019987,
       0.05252903, 0.05496   , 0.05749665, 0.06014293, 0.06290287,
       0.06578059, 0.06878031, 0.07190629, 0.07516288, 0.07855447,
       0.08208552, 0.08576051, 0.08958398, 0.09356047, 0.09769453,
       0.1019907 , 0.10645351, 0.11108744, 0.11589692, 0.12088631,
       0.12605986, 0.13142173, 0.13697592, 0.14272627, 0.14867643,
       0.15482986, 0.16118973, 0.167759  , 0.17454029, 0.1815359 ,
       0.18874779, 0.19617751, 0.20382621, 0.21169458, 0.21978285,
       0.22809073, 0.23661742, 0.24536154, 0.25432114, 0.26349368,
       0.27287597, 0.28246422, 0.29225397, 0.30224009, 0.31241681,
       0.32277767, 0.33331558, 0.34402275, 0.35489078, 0.36591063,
       0.37707265, 0.38836662, 0.39978177, 0.4113068 , 0.42292998,
       0.43463911, 0.44642164, 0.45826467, 0.47015504, 0.48207939,
       0.49402419, 0.50597581, 0.51792061, 0.52984496, 0.54173533,
       0.55357836, 0.56536089, 0.57707002, 0.5886932 , 0.60021823,
       0.61163338, 0.62292735, 0.63408937, 0.64510922, 0.65597725,
       0.66668442, 0.67722233, 0.68758319, 0.69775991, 0.70774603,
       0.71753578, 0.72712403, 0.73650632, 0.74567886, 0.75463846,
       0.76338258, 0.77190927, 0.78021715, 0.78830542, 0.79617379,
       0.80382249, 0.81125221, 0.8184641 , 0.82545971, 0.832241  ,
       0.83881027, 0.84517014, 0.85132357, 0.85727373, 0.86302408,
       0.86857827, 0.87394014, 0.87911369, 0.88410308, 0.88891256,
       0.89354649, 0.8980093 , 0.90230547, 0.90643953, 0.91041602,
       0.91423949, 0.91791448, 0.92144553, 0.92483712, 0.92809371,
       0.93121969, 0.93421941, 0.93709713, 0.93985707, 0.94250335,
       0.94504   , 0.94747097, 0.94980013, 0.95203124, 0.95416797,
       0.95621391, 0.95817251, 0.96004717, 0.96184115, 0.96355764,
       0.9651997 , 0.96677033, 0.96827241, 0.96970871, 0.97108193,
       0.97239467, 0.97364944, 0.97484865, 0.97599462, 0.97708961,
       0.97813578, 0.97913519, 0.98008984, 0.98100167, 0.98187251,
       0.98270413, 0.98349825, 0.98425649, 0.98498042, 0.98567154,
       0.98633131, 0.9869611 , 0.98756223, 0.98813599, 0.98868358,
       0.98920617, 0.98970488, 0.99018078, 0.99063489, 0.99106818,
       0.9914816 , 0.99187604, 0.99225236, 0.99261138, 0.99295388,
       0.99328061, 0.99359229, 0.9938896 , 0.99417319, 0.9944437 ,
       0.99470172, 0.99494781, 0.99518253, 0.9954064 , 0.9956199 ,
       0.99582353, 0.99601773, 0.99620293, 0.99637955, 0.99654798,
       0.99670861, 0.99686178, 0.99700785, 0.99714713, 0.99727995,
       0.99740661, 0.99752738])

In [33]:
test = df[df['ind'] >= alpha]
eval = test[test['change'] > 0 ]
display(test)
display(eval)

,date,open,high,low,close,adjclose,volume,change,ind
0,2019-06-10,47.952499,48.842499,47.904999,48.145000,47.119289,104883600,0.192501,0.018560
1,2019-06-11,48.715000,49.000000,48.400002,48.702499,47.664913,107731600,-0.012501,0.005850
2,2019-06-12,48.487499,48.992500,48.347500,48.547501,47.513214,73012800,0.060002,0.010415
3,2019-06-13,48.674999,49.197498,48.400002,48.537498,47.503426,86698400,-0.137501,0.010734
4,2019-06-14,47.887501,48.397499,47.575001,48.185001,47.158440,75046000,0.297500,0.010650
5,2019-06-17,48.224998,48.740002,48.042500,48.472500,47.439808,58676400,0.247502,0.010679
6,2019-06-18,49.012501,50.072498,48.802502,49.612499,48.555523,106204000,0.599998,0.021627
9,2019-06-21,49.700001,50.212502,49.537498,49.695000,48.636269,191202400,-0.005001,0.010312
10,2019-06-24,49.634998,50.040001,49.542500,49.645000,48.587334,72881600,0.010002,0.008160
11,2019-06-25,49.607498,49.814999,48.822498,48.892502,47.850861,84281200,-0.714996,0.004183
12,2019-06-26,49.442501,50.247501,49.337502,49.950001,48.885834,104270000,0.507500,0.016282
13,2019-06-27,50.072498,50.392502,49.892502,49.935001,48.871159,83598800,-0.137497,0.006391
15,2019-07-01,50.792500,51.122501,50.162498,50.387501,49.314014,109012000,-0.404999,0.006497
16,2019-07-02,50.352501,50.782501,50.340000,50.682499,49.602730,67740800,0.329998,0.008540
17,2019-07-03,50.820000,51.110001,50.672501,51.102501,50.013779,45448000,0.282501,0.005706
18,2019-07-05,50.837502,51.270000,50.724998,51.057499,49.969742,69062000,0.219997,0.008507
20,2019-07-09,49.799999,50.377499,49.702499,50.310001,49.238167,82312000,0.510002,0.011596
21,2019-07-10,50.462502,50.932499,50.389999,50.807499,49.725063,71588400,0.344997,0.009314
23,2019-07-12,50.612499,51.000000,50.549999,50.825001,49.742191,70380800,0.212502,0.007656
24,2019-07-15,51.022499,51.467499,51.000000,51.302502,50.209518,67789600,0.280003,0.008722
27,2019-07-18,51.000000,51.470001,50.924999,51.415001,50.319626,74162400,0.415001,0.009216
29,2019-07-22,50.912498,51.807499,50.902500,51.805000,50.701317,89111600,0.892502,0.017579
36,2019-07-31,54.105000,55.342499,52.825001,53.259998,52.125309,277125600,-0.845002,0.022872
37,2019-08-01,53.474998,54.507500,51.685001,52.107498,50.997368,216071600,-1.367500,0.019308
41,2019-08-07,48.852501,49.889999,48.455002,49.759998,48.699879,133457600,0.907497,0.021237
45,2019-08-13,50.255001,53.035000,50.119999,52.242500,51.323757,188874000,1.987499,0.055318

,date,open,high,low,close,adjclose,volume,change,ind
0,2019-06-10,47.952499,48.842499,47.904999,48.145000,47.119289,104883600,0.192501,0.018560
2,2019-06-12,48.487499,48.992500,48.347500,48.547501,47.513214,73012800,0.060002,0.010415
4,2019-06-14,47.887501,48.397499,47.575001,48.185001,47.158440,75046000,0.297500,0.010650
5,2019-06-17,48.224998,48.740002,48.042500,48.472500,47.439808,58676400,0.247502,0.010679
6,2019-06-18,49.012501,50.072498,48.802502,49.612499,48.555523,106204000,0.599998,0.021627
10,2019-06-24,49.634998,50.040001,49.542500,49.645000,48.587334,72881600,0.010002,0.008160
12,2019-06-26,49.442501,50.247501,49.337502,49.950001,48.885834,104270000,0.507500,0.016282
16,2019-07-02,50.352501,50.782501,50.340000,50.682499,49.602730,67740800,0.329998,0.008540
17,2019-07-03,50.820000,51.110001,50.672501,51.102501,50.013779,45448000,0.282501,0.005706
18,2019-07-05,50.837502,51.270000,50.724998,51.057499,49.969742,69062000,0.219997,0.008507
20,2019-07-09,49.799999,50.377499,49.702499,50.310001,49.238167,82312000,0.510002,0.011596
21,2019-07-10,50.462502,50.932499,50.389999,50.807499,49.725063,71588400,0.344997,0.009314
23,2019-07-12,50.612499,51.000000,50.549999,50.825001,49.742191,70380800,0.212502,0.007656
24,2019-07-15,51.022499,51.467499,51.000000,51.302502,50.209518,67789600,0.280003,0.008722
27,2019-07-18,51.000000,51.470001,50.924999,51.415001,50.319626,74162400,0.415001,0.009216
29,2019-07-22,50.912498,51.807499,50.902500,51.805000,50.701317,89111600,0.892502,0.017579
41,2019-08-07,48.852501,49.889999,48.455002,49.759998,48.699879,133457600,0.907497,0.021237
45,2019-08-13,50.255001,53.035000,50.119999,52.242500,51.323757,188874000,1.987499,0.055318